<html>
  <head>
    <title>About SEI</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

           <h1>About Us</h1>
           <div class="jumbotron-landing">
           </div>

</body>
</html>