<html>
  <head>
    <title>Aims of SEI</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

         <div class="container">
           <h1>Our Aim</h1>
           <p>Social Enterprise Investments aim is to achieve continuous growth and ever increasing market exposure , and become a leading and highly valued social enterprise business through the promotion and development of new business and philanthropic  initiatives, without compromising our personal approach and boutique feel. <br/><br/>

		   A truly focused social enterprise business, Social Enterprise Investments (SEI) is based on altruistic philosophies and, established so as to   offer a fully integrated support network to nurture and grow business and social community needs. Our ethos stems from its people and underpinned by proven business success and supported by a global team of visionaries, entrepeneurs and selected professionals partnered to support the success of exisitng and new initiatives by building a truly unique competitive advantage for today and omorrow. Social Enterprise Investments promotes the development of new initiatives and incubator projects that create value and offer new exciting opportunities for business to expand. We are committed to sustainable, ethical socio-economic growth and opportunity creation, and our hallmark is to create a true partneship, which means getting to know business partners meticulously and understanding their business and creating market opportunities and value. </p>
		</div>


</body>
</html>