<html>
  <head>
    <title>Aims of SEI</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>

         <div class="container">
           <h1>Our Aim</h1>
           <p>Social Enterprise Investments aim is to achieve continuous growth and ever increasing market exposure , and become a leading and highly valued social enterprise business through the promotion and development of new business and philanthropic  initiatives  , without compromising our personable approach and boutique feel. <br/><br/>

		   A truly focused social enterprise business, SEI is based on altruistic philosophies and, established so as to   establish a fully integrated support network to nurture and grow business and social community needs. Our ethos stems   possess a candidate list of everyone in the creative universe, from juniors, through to board level Directors. Their client portfolio ranges from newly formed private enterprises, Small and Medium,  Local Government  through to R&D and growing technology transfer  marketing companies. Passionate and versatile, Social Enterprise Investments create an affinity with all parties concerned, which means getting to know them meticulously and understanding business and market opportunities.</p>
		</div>


</body>
</html>