<html>
  <head>
    <title>Social Enterprise Investments</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
      <br/><br/>
      <div class="jumbotron">
        <div class="container">
          <h2> Social Enterprise Investments</h2>
            <h5 class="heading5">A facilitator and investor in Ethically Sustainable & </h5>
            <h5 class="heading5a">Socially Responsible Enterprises</h5>
            <div class="heading" ><h3>'treating all stackholders fairly'.</h3></div>
        </div>
      </div>
          
      <div class="container"><br/>
        <h3 class="text-center">Our Ethos 2</h3>
        <p class="text-center">Social Enterprise Investments aim is to achieve continuous growth and ever increasing market exposure , and become a leading and highly valued social enterprise business through the promotion and development of new business and philanthropic  initiatives  , without compromising our personable approach and boutique feel.</p>
      </div>
      <br/><br/>
     
    <script src="../bootstrap/js/jquery.js"></script>
    <script src="../bootstrap/js/advanced-carousel.js"></script>
    <script src="../bootstrap/js/custom.js"></script>

</body>
</html>