  <div class="alt3">
  	<br/><br/>
   	<div class="jumbotron-landing">
    	<div class="container">
    	<!-- Example row of columns -->
    	<div class="row">
      		<div class="col-md-4">
       		 <h2 class="text-center">African Australian Cooperative</h2>
       		 <h3>Mining & Commodities Ventures</h3>
        	 <p class="text-center">Mining Sector initiative and investment capital<br/>
				Textile Sector initiatives<br/>Agricultural Sector initiatives<br/>Building technologies
				<br/>Construction</p><br/>
        	 <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      		</div>
      		<div class="col-md-4">
        		<h2 class="text-center">African Australian Alliance</h2>
        		<h4> Cultural, technological and enterprise transfer</h4>
        		<p class="text-justify">Social Enterprise Investments ( SEI) is partnered with African Australian Cooperative to build and operate a leading development and educational facility providing work and community development, and enabling young students to gain the necessary skills, values and attitude to grow and  make a positive difference to society. </p>
       	 		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     		</div>
      		<div class="col-md-4">
        		<h2 class="text-center">Magic Delights</h2>
        		<h4> Your patisserie artisan creating healthy food</h4>
        		<p class="text-center">"We love healthy cakes and biscuits."<br/>
					"Setting the trend for young and old alike"</p><br/><br/><br/><br/>
        		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      		</div>
    	</div>
   	 </div>
   	</div>

   	<br/><br/>
   	<div class="jumbotron-landing">
    	<div class="container">
    	<!-- Example row of columns -->
    	<div class="row">
      		<div class="col-md-4">
       		 <h2 class="text-center">Strategic On line Software</h2>
       		 <h3>Partnering your on line presence</h3>
        	 <p class="text-center">Smart web site development<br/>Application Development<br/><br/><br/><br/><br/><br/><br/>
        	 <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      		</div>
      		<div class="col-md-4">
        		<h2 class="text-center">SMESauce</h2>
        		<h3> your Enterprise Service Provider</h3>
        		<p class="text-justify">• Integrating technology to better serve businesses.<br/>
				• Business Analysis, Product and Service Planning and Marketing, Financial Management services tailored for ongoing business success.<br/>
				• Business Improvement Initiatives, enhancements and  organisational improvements to sustain and promote growth.</p><br/>
       	 		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     		</div>
      		<div class="col-md-4">
        		<h2 class="text-center">Rags to Brag</h2>
        		<h3> Socially responsible fashion</h3>
        		<p class="text-center">Source materials<br/>Fashionista<br/>Design<br/>Distribution<br/>Marketing<br/>International<br/>Couture<br/>Fusion of design</p>
        		<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      		</div>
    	</div>
   	 </div>
   	</div>
   </div>
