	/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrap.min
 *= require owl.carousel
 *= require owl.theme
 *= require font-awesome
 *= require_self
 *= require_tree .
 */

html,
body {
  margin:0;
  padding:0;
  height:100%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#header {
 padding:10px;
 background:#5ee;
}

#content {
 padding:10px;
 padding-bottom:50px;   /* Height of the footer element */
 max-width: 100%;
}

#end-footer {
 width:100%;
 height:50px;
 position:absolute;
 bottom:0;
 left:0;
 background: #2E2E2E;
 color: #ffffff;
 font-size: 15px;
 text-align: left;
 padding-top: 15px;
}


.jumbotron {
	background-image: url('/bcg_slide-2.jpg');
	background-attachment:fixed;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
	min-height:450px;
	margin-bottom:0px;
	color: white;
	text-align: left;
	max-width: 100%;
}

.jumbotron-landing {
   background-color: white;
	background-attachment:fixed;
	min-height: 400px;
	margin-bottom:0px;
	color: black;
   text-align: center;
   margin-left: 100px;
   margin-right: 100px;
}

.heading5 {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 30px;
}

.heading5a {
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 15px 70px;
}

.jumbotron-landing {
  background:#F2F2F2;
  background-attachment:fixed;
  min-height: 200px;
  margin-bottom:0px;
  color: black;
   text-align: center;
   margin-left: 100px;
   margin-right: 100px;
}

.jumbotron-landing h2{
  font-size: 25px;
  color: #0489B1;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px;
}

.jumbotron-landing h3{
  font-size: 12px;
  color: #0489B1;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 20px 100px;
}

.jumbotron-landing h4{
  font-size: 12px;
  color: #0489B1;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 20px 50px;
}

.jumbotron-landing h5{
  font-size: 15px;
  color: #0489B1;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 20px 10px;
}

.heading h3{
  font-family: 'Freestyle Script';
  font-size: 15px;
  margin: 0px 0px 0px 135px; 
  padding: 0px 0px 20px 10px;
}

.alt1{
	min-height: 200px;
}

.alt2{
	background:#F2F2F2;
	min-height:550px;
}

.alt3{
  background:#F2F2F2;
  max-height: 100%;
  max-width: 100%;
}

.padding-header{
   padding-top: 40px;
   padding-bottom:0px;
   text-align: center;
}

.padding{
	padding-top: 50px;
	padding-bottom:50px;
	text-align: center;
}

.navbar .brand {
   font-size: 26px;
	text-shadow: none;
}

.navbar {
    background-color: #424242;
    background-image: none;
}


/* Footer
-------------------------------------------------- */
#footer {
    padding: 0px 0px 2px 0px;
    font-family: 'font-awesome';
    background-color: #424242; 
    color: #17405E;
}

#footer h3  {
   font-family: 'font-awesome';
   margin-bottom: 5px;
   color: #ffffff;
   font-size: 18px;
   text-align: center;
}


#footer ul {
    font-family: 'font-awesome';
    list-style: none outside none;
    text-align: center;
}

#footer li {
    font-family: 'font-awesome';
    padding: 3px;
    margin-right: 35px;
}

#footer a {
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   -ms-transition: all .2s linear;
   -o-transition: all .2s linear;
   transition: all .2s linear;         
}

#footer a {
  font-family: 'font-awesome';
  color: #989898; 
}

#footer a:hover {
   padding-left: 5px;
   text-decoration: underline; 
   color: #989898;  
}

/* Copywrite
-------------------------------------------------- */
#copywrite p {
    padding: 10px 0;
    margin: 0;
}

#totop {
    cursor: pointer;
}  

#copywrite {
  background-color: #424242;
  color: white;
}

